<form>
  <div (click)='createTask($event, task)' class="task-wraper" #task>
    <div 
      *ngFor='let task of form.get("tasks").controls'
      class="task-block"
      role='button'
      StopPropagation
      [style.height.px]='height'
      [style.top.px]='top'  
      [style.top.px]='startTaskCoordinates' 
      mwlResizable
      [enableGhostResize]="true"
      [resizeEdges]="{bottom: true, top: true}"
      (resizeEnd)="onResizeEnd($event)">
        <!-- <div (mousedown)='testClick()' class="resize-handle-top" mwlresizehandle=""></div> -->
          <span class="task">here some text....</span>
        <!-- <div (mousedown)='testClick()' class="resize-handle-bottom" mwlresizehandle=""></div> -->
    </div>
    <mat-dialog></mat-dialog>
  </div>
</form>










