<div  role='presentation' class="day-block">
  <div class="container-wraper">
    <div *ngFor='let hour of hours' class='hour-block'>
      <div class="time-block">
        <p>{{ hour }}:00 </p>
        <p class="half-hour">{{ hour }}:30</p>
      </div>
      <div class="task-conteiner"></div>
    </div>
    <div class="hour-block">
      <div class="time-block">
        <p>5:00</p>
      </div>
      <div class="task-conteiner"></div>
    </div>
    <app-create-task></app-create-task>
  </div>
</div>












  <!-- ------------------------------------------------------------- -->
<!-- <div class="grid-day">
  <div class="time">8:00</div>
  <div class="task-container">description</div>
  <div class="time">8:00</div>
  <div class="task-container">description</div>
</div> -->

<!-- <div role='presentation' class="day-container">
  <div role='presentation' class="time">
    <div class="hour">
      <span class="full-hour">8:00</span>
      <span class="half-hour">8:30</span>
    </div>
    <div class="hour">
      <span class="full-hour">9:00</span>
      <span class="half-hour">9:30</span>
    </div>
  </div>
  <div role='presentation' class="task-block">
    <div role='gridcell' class="column">
      <div class="task">avac aesac</div>
    </div>
  </div>
</div> -->